.jumbotron {
  padding-top: 6rem;
  background-color: #baceeb;
}
body {
  background-color: #f3f4f5;
}
#project {
  background-color: #baceeb;
}
img,
svg {
  margin-bottom: -1px;
}
footer {
  background-color: #3b7ada;
}
section {
  padding-top: 6rem;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
